@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.fas {
  font-size: 1.2em;
}
.navbar {
  background-color: #e78585;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.navbar .logo {
  height: 90px;
  width: 140px;
  grid-column: 2 / 3;
 
}
.navbar .menu {
  grid-column: 4 / 7;
  display: flex;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar .menu-bar {
  display: none;
}
.navbar .shop {
  grid-column: 8 / 9;
  justify-content: flex-end;
}
.hero {
  height: 83vh;
  background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url(../img/img8.jpeg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
.hero .info-content {
  grid-column: 5 / 6;
  grid-row: 3 / 7;
  color: #fff;
  z-index: 1;
}
.hero .info-content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
}
.hero .info-content h1 {
  font-weight: 900;
  font-size: 5em;
  color: #c77372;
}
.hero .info-content p {
  font-family: 'Montserrat', sans-serif;
}
.hero .info-content .btn {
  font-size: 1em;
  color:#fff;
  background: none;
  padding: 10px 20px;
  border-radius: 30px;
  border:1px solid#c77372;
  margin-top: 10px;
}
.hero .info-content .btn:hover {
  background-color: transparent;
  color:#c77372;
}
.brand {
    margin-top: -7px;
}

.brand span {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: -2em;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;

}


.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;

}

.menu .active {
    color:#c77372;
}
.menu a:hover {
    background-color: #e1a19f;
    color: #eac3be;
    transition: ease-in .5s;
    border-radius: 20px;

}
.menu .active {
    color:aqua
}

.footer{
  color: white;
  background-color: palevioletred;
}
